.loginLogo {
  max-width: 40%;
  height: auto;
  display: block;
  margin: auto;
}

.wrapper-page .card-box .panel-heading .loginPerson {
  font-size: 5em;
  display: block;
  text-align: center;
}

.formInput {
  padding: 0 20px 0 20px;
}

/*profile landing*/

.db-social-box {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /*margin-bottom: 40px;*/
  margin-top: 40px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  color: #364049;
  border: 1px solid #364049;
  /*CUSTOMIZE THIS COLOR IF YOU WANT */
}

.db-social-box:hover {
  background-color: #C3C6C9;
  /*CUSTOMIZE THIS COLOR IF YOU WANT */
}

.db-social-box a,
.db-social-box a:hover {
  color: #364049;
  /*CUSTOMIZE THIS COLOR IF YOU WANT */
  text-decoration: none;
}

.db-social-box span {
  font-size: 50px;
  padding-bottom: 10px;
}

.card-box .addFormHeader {
  font-size: 1.5em;
}

.page-title a {
  color: #797979;
}

.page-title :hover {
  color: #5fbeaa;
}

.myTable a {
  color: #343a40;
}

.myTable a:hover {
  color: #5fbeaa;
}

.myTableTop {
  padding-left: 15px;
}

@media (min-width: 768px) {
  .db-social-box.topLine {
    margin-top: 0px;
  }

  .db-social-box.bottomLine {
    margin-bottom: 40px;
  }
}

#myUserWidget {
  margin-top: 30px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

#myUserWidget i {
  font-size: 1.5em;
}

.sponsorImgContainer {
  position: relative;
}

.textSponsorImg {
  position: absolute;
  top: 30%;
  left: 50%;
  color: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2em;
}

.sponsorImg {
  padding-left: 15px;
}

.weekSelector {
  margin-bottom: 30px;
  margin-top: 30px;
}

